/* Font Import */

@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&family=Jockey+One&display=swap");

:root {
  --pri-font: "Cal Sans", sans-serif;
  --sec-font: "Jockey One", sans-serif;
  --pri-col: #000;
  --sec-col: burlywood;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid lime; */
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: var(--pri-col);
  color: var(--sec-col);
}

.nav {
  background: var(--sec-col);
  color: var(--pri-col);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.nav .logo {
  font-family: var(--sec-font);
  letter-spacing: 3px;
  font-size: 2.5vw;
}

.sideNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.sideNav a {
  text-decoration: none;
  color: var(--pri-col);
  font-family: var(--pri-font);
  letter-spacing: 1px;
  font-size: 1vw;
  font-weight: 200;
}

.hero {
  height: calc(100% - 70px);
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: drop-shadow(rgba(222, 184, 135, 0.351) 0px 10px 50px);
}

.hero img {
  width: 700px;
  animation: headphone 2s infinite ease-in-out alternate;
}

@keyframes headphone {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

.hero .sideSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5vw;
}

.hero .sideSection h3 {
  text-transform: uppercase;
  font-size: 1.5vw;
  font-family: var(--sec-font);
  letter-spacing: 2px;
}

.hero .sideSection h1 {
  text-transform: uppercase;
  font-family: var(--pri-font);
  letter-spacing: 3px;
  font-size: 4vw;
}

.hero .sideSection p {
  font-family: var(--sec-font);
  letter-spacing: 1px;
  font-size: 1vw;
}

.hero .sideSection button {
  font-family: var(--sec-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1vw;
  padding: 10px 30px;
  background-color: var(--pri-col);
  border: 2px solid var(--sec-col);
  border-radius: 5px;
  color: var(--sec-col);
}

.hero .sideSection button:hover {
  background: var(--sec-col);
  color: var(--pri-col);
  border: 2px solid var(--pri-col);
}

.itemsCarousel {
  width: 100%;
  min-height: 400px;
  max-height: 100%;
  padding: 50px;
  background: var(--sec-col);
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.itemsCarousel h1 {
  font-size: 2.5vw;
  font-family: var(--pri-font);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.itemsCarousel .carousel {
  width: 95%;
  height: auto;
  min-height: 300px;
  padding: 2vw 4vw;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  overflow-x: scroll;
  gap: 50px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: hidden;
}

.itemsCarousel .carousel::-webkit-scrollbar {
  display: none;
}

.product-card {
  width: 260px;
  min-height: 300px;
  height: calc(100% - 60px);
  border: 2px solid var(--sec-col);
  background: #fff;
  color: var(--pri-col);
  padding: 0.5vw;
  border-radius: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product-card img {
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
  object-fit: contain;
}

.product-card .specs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1vw;
}

.product-card .specs h2 {
  font-family: var(--pri-font);
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: 2px;
}

.product-card .specs p,
.product-card .specs h3 {
  font-family: var(--sec-font);
  font-weight: 200;
  font-size: 1vw;
  letter-spacing: 1px;
}

.logoAnimation {
  width: 100%;
  height: 100%;
  padding: 0 100px;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  cursor: none;
}

.logoAnimation h1 {
  font-family: var(--sec-font);
  letter-spacing: 3vw;
  font-size: 30vw;
  text-transform: uppercase;
}

.logoAnimation .pointer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--sec-col);
  position: absolute;
  z-index: 99;
  mix-blend-mode: difference;
}

/* Categories  */

.categories {
  width: 100%;
  min-height: 60vh;
  padding: 2vw 5vw 5vw 2vw;
  background: var(--sec-col);
  display: grid;
  place-items: center;
  gap: 2vw;
}

.categories h1 {
  color: var(--pri-col);
  font-size: 2.5vw;
  font-family: var(--pri-font);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.categories .items {
  min-width: 90%;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: hidden;
}

.categories .items .item {
  width: 16vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--sec-col);
  padding: 1vw 0;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  position: relative;
}

.categories .items .item::after {
  content: "";
  width: 150px;
  height: 10px;
  border-radius: 10% 50%;
  background-color: rgba(73, 70, 65, 0.3);
  position: absolute;
  z-index: 8;
  filter: blur(10px);
  bottom: 60px;
}

.categories .items .item img {
  width: 80%;
  height: 13vw;
  object-fit: contain;
  z-index: 9;
}

.categories .items .item a {
  text-decoration: none;
  color: var(--pri-col);
  font-size: 1.5vw;
  font-family: var(--sec-font);
  letter-spacing: 1px;
  font-weight: 400;
}

/* Footer  */

footer {
  width: 100%;
  height: 50vh;
  padding: 2vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

footer .upper,
footer .lower {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .upper .logo {
  font-family: var(--sec-font);
  letter-spacing: 3px;
  font-size: 2.5vw;
}

footer .upper .navigations {
  display: flex;
  gap: 1.5vw;
}

footer .upper .navigations a,
footer .upper .icons a {
  text-decoration: none;
  font-family: var(--pri-font);
  color: var(--sec-col);
  letter-spacing: 1px;
  font-weight: lighter;
}

footer .upper .icons {
  display: flex;
  gap: 1vw;
}

footer .upper .icons a i {
  color: var(--sec-col);
  font-size: 1.2vw;
}

footer .lower .inputField {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .lower .inputField input {
  width: 30vw;
  height: 3vw;
  padding: 1vw;
  background: var(--pri-col);
  font-family: var(--pri-font);
  color: var(--sec-col);
  letter-spacing: 1px;
  border: 2px solid var(--sec-col);
  outline: none;
}

footer .lower .inputField input::placeholder {
  color: rgba(222, 184, 135, 0.537);
}

footer .lower .inputField button {
  width: 8vw;
  height: 3vw;
  outline: none;
  background-color: var(--sec-col);
  font-family: var(--pri-font);
  letter-spacing: 1px;
  color: var(--pri-col);
  transition: all ease 0.3s;
  border: 2px solid var(--sec-col);
  border-left: none;
}

footer .lower .inputField button:hover {
  background-color: var(--pri-col);
  color: var(--sec-col);
}
